<!-- ================= OVERVIEW ================= -->

<section class="work-section" *ngIf="viewMode === 'overview'">
  <div class="work-container">
    <div class="insight">
      <h2>Insights</h2>

      <p>
        Chrysalis – that moment when a caterpillar transforms into a butterfly. We bring chrysalis
        to your brand differently.
      </p>
    </div>

    <div class="links">
      <h2>Useful Links</h2>

      <div class="menu-item" (click)="openSection('web')">Websites</div>

      <div class="menu-item" (click)="openSection('campaign')">Campaigns</div>
    </div>

    <div class="card-area">
      <img src="assets/work_page_top.webp" loading="eager"  />
    </div>
  </div>
</section>

<!-- ================= WEBSITES ================= -->

<section class="detail-section" *ngIf="viewMode === 'web'">
  <div class="detail-container">
    <button class="back-btn" (click)="goBack()">← Back</button>

    <div class="campaign-header">
      <h2 class="highlight-title">#Websites</h2>

      <div class="header-line"></div>

      <p class="highlight-text">
        Our team is dedicated to crafting campaigns that leave a lasting impression, driving
        meaningful outcomes for our clients.
      </p>
    </div>

    <div class="works-grid">
      <a class="works-item" *ngFor="let site of works" [href]="site.link" target="_blank">
        <div class="works-poster">
          <img [src]="site.image" loading="lazy" />
        </div>

        <div class="works-title">
          {{ site.title }}
        </div>
      </a>
    </div>
  </div>
</section>

<!-- ================= CAMPAIGN ================= -->

<section class="detail-section" *ngIf="viewMode === 'campaign'">
  <div class="detail-container">
    <button class="back-btn" (click)="goBack()">← Back</button>

    <div class="campaign-header">
      <h2 class="highlight-title">#RecentCampaigns</h2>

      <div class="header-line"></div>

      <p class="highlight-text">
        Our team is dedicated to crafting campaigns that leave a lasting impression, driving
        meaningful outcomes for our clients.
      </p>
    </div>

    <div class="website-grid">
      <div class="website-card" *ngFor="let site of Campaigns">
        <div class="poster-card">
          <img [src]="site.image" loading="lazy"/>
        </div>

        <div class="poster-name">
          {{ site.title }}
        </div>
      </div>
    </div>
  </div>
</section>


<section class="detail-section">

  <div class="detail-container">

    <button class="back-btn" (click)="goBack()">← Back</button>

    <div class="campaign-header">

      <h2 class="highlight-title">#Reels</h2>

      <div class="header-line"></div>

      <p class="highlight-text">
        Creative short-form video campaigns crafted to capture attention and
        drive engagement.
      </p>

    </div>


    <div class="reels-grid">

      <div class="reel-card" *ngFor="let reel of reels">

        <video 
          [src]="reel.video"
          muted
          autoplay
          loop
          playsinline
          
          >
        </video>

      </div>

    </div>

  </div>

</section>
