<section class="sp-hero">

  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-6">
        <h1 class="sp-title">Our <br />Services</h1>
      </div>

      <div class="col-md-6">
        <p class="sp-text">
          We help businesses reach their full potential by creating a brand identity that is authentic
          and reflective of them.
        </p>
      </div>

    </div>
  </div>

</section>

<section class="work-category pad-tb">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 v-center">
        <div class="common-heading text-l">
          <span>INDUSTRIES WE WORK FOR</span>
          <h2>Helping Businesses in All Domains</h2>
          <p>
            We’re a full-service digital marketing agency and successfully delivered projects for
            clients from several industries.
          </p>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="work-card-set">
          <div class="icon-set" *ngFor="let item of industries">
            <div class="work-card" [ngClass]="item.class">
              <div class="icon-bg">
                <img [src]="item.icon" alt="Industries" />
              </div>
              <p>{{ item.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="sp-service" *ngFor="let s of services; let i = index">
  <div class="container">
    <div class="row align-items-center" [ngClass]="{ 'flex-row-reverse': i % 2 == 0 }">
      
      <div class="col-md-6">
        <div class="sp-img">
          <img class="img-gif-only" [src]="s.gif" [alt]="s.title" />
        </div>
      </div>

      <div class="col-md-6">
        <h3 class="sp-heading" [innerHTML]="s.title"></h3>
        <p class="sp-desc">{{ s.desc }}</p>
      </div>

    </div>
  </div>
</section>
